.cover-main {
    font-size: 1.3rem;
    color: #ffffff;
}

p:last-child {
    font-weight: 1000;
}

:root {
    --theme-hue: 215;
    --cover-blockquote-color: #8c9eff;
    --base-font-family: Lato;
    --cover-background-image: url(https://cdn.discordapp.com/attachments/736316977504583823/781879152533045268/oat.jpg);
